extends layout

block content
  h1= title
  p Welcome to #{title}
  h4 Postman Links:
  a(href="https://www.getpostman.com/collections/e49ef264180066263ed6" target="_blank") https://www.getpostman.com/collections/e49ef264180066263ed6
